body
{
	background-image: url('/mwrestling/images/background.jpg');
	background-repeat: repeat-x;
	background-color: #3B608D;
	
    font-family: 'Arial', 'Book Antiqua', Serif;
	
	margin: 0;
	padding: 0;
	
	width: 70%;
	margin-left: 15%;
}

#wrapper
{
	
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px;
	
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px;
	
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px;
	
	background-color: #DDDDDD;
	min-height: 75%;
}

#header
{
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px;
	
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px;
	
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px;
	
	background-color: #F5F5F5;
}

#banner
{
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px;
	
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px;
	
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px;
	
	background-image: url('/mwrestling/images/header-bg.png');
	background-repeat: repeat-x;
}

#nav 
{
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px;
	
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px;	
	
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px;
	
	min-height: 30px;
	
	background: transparent;
	font-variant: small-caps;
	font-size: 20px;
	text-shadow: black 0px 1px 0px;
	text-align: right;
}


#nav a
{
    color: #00319E;
    text-decoration: none;
}

#nav a:hover
{
    color: #3281A7;
    font-weight: 750;
}

#content
{
    margin: 0 auto;
    margin-top: 15px;
    padding: 10px 10px;
    text-align: center;
}

#login table
{
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 1px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 1px;	
	box-shadow: rgba(0, 0, 0, 0.3) 5px 5px 1px;
}

#tables table
{
    border-collapse: collapse;
    border: 2px solid #00319E;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: white; 
    font-weight: bold; 
    cursor: default; 
}


#tables th
{
    text-align: center;
    border: 2px solid #00319E;
    background: #00319E;
    color: white;
    padding: .2em;
}

#tables td
{
    border: 2px solid #00319E;
    padding: .2em;
}

#footer
{
	background-color: #DDDDDD;
	
    margin-top: 20px;
    margin-bottom: 20px;
	
	padding-top: 10px;
	padding-bottom: 0px;
	
	-moz-border-radius: 6px;
	-moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px;
	
	-webkit-border-radius: 6px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px;
	
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px;
	
	color: #005596;
	font-size: 13px;
	text-align: right;
	text-shadow: gray 1px 1px 0px;
	min-height: 30px;
}

#statsbar
{
    float: left;
    width: 12%;
    line-height: 30px;
    padding: .2em;
    margin-bottom: 10px;
}

#statsbar ul 
{
    list-style-type: none;
    padding: 0;
    margin-left: 0; 
}

#statsbar a
{
    color: #00319E;
    text-decoration: none;
}

#statsbar a:hover
{
    color: #3281A7;
    font-weight: 750;
}

.selected
{
    background: #00319E;
	color: white;
}

#upload
{
	text-indent: 50px;
	font-size: 15px;
}

#login form
{
    #background: -webkit-gradient(linear, bottom, left 175px, from(white), to(#EEEEEE));
    #background: -moz-linear-gradient(bottom, white, #EEEEEE 175px);
    background: white;
    margin: auto;
    position: relative;
    margin-top: 10px;
    width: 200px;
    height: 200px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    font-style: italic;
    line-height: 24px;
    font-weight: bold;
    color: #00319E;
    text-decoration: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding:10px;
    border: 1px solid #999;
    border: inset 1px solid #333;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
}

#login input 
{
    display: block;
    width:75px;
    display:block;
    border: 1px solid #999;
    height: 25px;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    margin: auto;
}

#login .button
{
    width:100px;
    position:absolute;
    right:20px;
    bottom:20px;
    background: #00319E;
    color:#fff;
    font-family: Tahoma, Geneva, sans-serif;
    height:30px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 1p solid #999;
}

#login .button:hover {
    background:#fff;
    color: #00319E;
}

#pwchange form
{
    #background: -webkit-gradient(linear, bottom, left 175px, from(white), to(#EEEEEE));
    #background: -moz-linear-gradient(bottom, white, #EEEEEE 175px);
    background: white;
    margin: auto;
    position: relative;
    margin-top: 10px;
    width: 200px;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    line-height: 24px;
    font-weight: bold;
    color: #00319E;
    text-decoration: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding:10px;
    border: 1px solid #999;
    border: inset 1px solid #333;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
}

#pwchange input 
{
    display: block;
    width:100px;
    border: 1px solid #999;
    height: 25px;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    margin: auto;
}

#pwchange .button
{
    width:100px;
    position:absolute;
    right:20px;
    bottom:20px;
    background: #00319E;
    color:#fff;
    font-family: Tahoma, Geneva, sans-serif;
    height:30px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    border: 1p solid #999;
}

#pwchange .button:hover {
    background:#fff;
    color: #00319E;
}

#announcements {
    margin: auto;
    padding: 15px;
    
    
}

#announcements h3 {
    text-decoration: underline;
}


#make_ann {
    margin: auto;
    padding: 15px;
}










