body {
    font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
}

#header {
    background: #00319E;
    color: white;
    margin: 0 auto;
    padding: .2em;
    width: 90%;
    border-radius: 15px;
}

#nav {
    background: #FFFB4C;
    color: #00319E;
    padding: .2em;
    border-radius: 15px;

}

#nav a {
    color: #00319E;
    text-decoration: none;
}

#nav a:visited {
    text-decoration: underline;
}

#nav a:hover {
    color: black;
    font-weight: 750;
}

#content {
    width:90%;
    margin: 0 auto;
    margin-top: 15px;
    padding: 10px 10px;
    text-align: center;
}


table {
    border-collapse: collapse;
    border: 2px solid #00319E;
    margin: auto;
    margin-bottom: 10px;
    background-color: white; 
    #color:#666666; 
    font-weight: bold; 
    cursor: default; 
}


th {
    text-align: center;
    border: 2px solid #00319E;
    background: #00319E;
    color: white;
    padding: .2em;
}

td {
    border: 2px solid #00319E;
    padding: .2em;
}

#footer {
    background: #00319E;
    color: white;
    text-align: center;
    width: 90%;
    bottom: -5px;
    margin-left: 5%;
    padding-top: .1em;
    padding-bottom: .1em;
    border-radius: 15px;
}

#statsbar {
    background: #00319E;
    color: white;
    padding: .2em;
    border-radius: 15px;
    border-color: #FFFB4C;
    border-width: 5px;
    margin-bottom: 10px;
    border-style: solid;
    padding: .2em;
}

#statsbar a {
    color: white;
    text-decoration: bold;
}

.selected {
    background: #00319E;
    color: white;
}

